<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2}">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome-stars.css}">
    <script type="text/javascript" th:src="@{/jquery.barrating.min.js}"></script>
</head>
<title>리뷰 수정</title>
</head>
<body layout:fragment="content">
<h2>리뷰 수정</h2>

<form th:action="@{/reviews/update}" th:object="${review}" method="post">
    <input type="hidden" id="id" th:field="*{id}">
    <div>
        <label for="title">리뷰 제목:</label>
        <input type="text" id="title" th:field="*{title}" required>
    </div>
    <div>
        <label for="comment">리뷰 내용:</label>
        <textarea id="comment" th:field="*{comment}" rows="4" cols="50" required></textarea>
    </div>
        <div>
            <label for="rating">평점:</label>
            <select id="rating" name="rating" th:field="*{rating}" required>
                <option value="1" th:selected="${review.rating == 1}">1</option>
                <option value="2" th:selected="${review.rating == 2}">2</option>
                <option value="3" th:selected="${review.rating == 3}">3</option>
                <option value="4" th:selected="${review.rating == 4}">4</option>
                <option value="5" th:selected="${review.rating == 5}">5</option>
            </select>
        </div>
        <button type="submit">수정</button>
</form>
<a href="/drama/dramaList">취소</a>
<script type="text/javascript">
    $(document).ready(function () {
        $('#rating').barrating({
            theme: 'fontawesome-stars',
            initialRating: 1,  // 초기 평점 설정 (선택한 평점이 기본으로 표시됨)
            showSelectedRating: true,  // 선택한 평점을 텍스트로 표시
        });
    });
</script>
</body>
</html>
