@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin : 0;
    padding : 0;
    font-family : 'SUITE-Regular',cursive;
}

.layout2-co{
    background : #FFFFFF;
    display : flex;
    flex-direction: column;
    align-items : center;
    height : 1000px;
}

.layout2{
    border-bottom: 2.5px solid #DEE2E6;
    margin-top : 13px;
    margin-bottom : 25px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width : 100%;
    white-space : nowrap;
}

.logo{
    font-family : 'SDSamliphopangche_Outline';
}

a {
    text-decoration : none;
}

.category{
    color : #868e96;
    display : block;
    position : relative;
    padding : 0 8px;
    font-size : 15px;
    letter-spacing : 0.1em;
    white-space : nowrap;
    text-align : center;
    font-weight : bold;
}

.search-co{
    display: flex;
    font-size : 14px;
    width : 35%;
}

.search{
    border-radius: 5px 5px 5px 5px;
    margin-left : 8px;
    padding : 8px;
    padding-left : 25px;
    width : 90%;
    background : #E9ECEF;
    border : none;
}
