@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin : 0;
    padding : 0;
    font-family : 'SUITE-Regular',cursive;
}

.layout-co{
    background : black;
    display : flex;
    flex-direction: column;
    align-items : center;
    height : 1000px;
}

.layout{
    border-bottom: 1.5px solid #FFF;
    width : 50%;
    display: inline-flex;
    justify-content : flex-end;
    white-space : nowrap;
}

.logo{
    font-family : 'SDSamliphopangche_Outline';
}

a {
    text-decoration : none;
}

.category{
    color : white;
    display : block;
    position : relative;
    height : 40px;
    line-height : 40px;
    padding : 0 24px;
    font-size : 17px;
    letter-spacing : 0.1em;
    white-space : nowrap;
    text-align : center;
}

.category_bar{
    color : white;
    display : block;
    position : relative;
    height : 40px;
    line-height : 40px;
    padding : 0 24px;
    font-size : 17px;
    font-weight : bold;
    letter-spacing : 0.1em;
    white-space : nowrap;

}

.category:after {
   display:block;
   width:70px;
   content: '';/*comtent안은 밑줄 디자인을 위해 비워두세요.*/
   border-bottom: solid 2px red;
   transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
   transition: transform 250ms ease-in-out; /*변형 방식*/
}

.category:hover:after {
   transform: scaleX(1);/*a 속성에 hover시 after를 기존 크기로 변경*/
}

.slider-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top : 7px;
    justify-content: center;
}
.slider-img { /* 이미지가 보이는 영역 */
    position: relative;
    width: 1000px;
    height: 450px;
    overflow: hidden;
}
.slider-inner { /* 이미지 움직이는 영역 */
    display: flex;
    flex-wrap: wrap;
    width: 4800px;  /* 총 이미지가 4800px */
    height: 450px;
}
.slider { /* 개별적인 이미지 */
    position: relative;
    width: 1000px;
    height: 450px;
}

.slider img{ /* 이미지 사이즈 */
    width: 1000px;
    height: 450px;
}
.slider-btn a {
    position: absolute;
    top: 350px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease;
}
.slider-btn a:hover {
    border-radius: 50%;
    background-color: #fbd7ed;
    color: #000;
}
.slider-btn a.prev {
    left: 20%;
}
.slider-btn a.next {
    right: 20%;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}