<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2}">
<head>
    <meta charset="UTF-8">
    <title>드라마 상세 정보</title>
</head>

<body layout:fragment="content">
<h2 th:text="${drama.title}"></h2>
<img th:src="@{${drama.imageUrl}}" alt="Drama Image">
<div>
    <strong>장르:</strong>
    <span th:text="${drama.jenre}"></span>
</div>
<div>
    <strong>감독:</strong>
    <span th:text="${drama.director}"></span>
</div>
<div>
    <strong>연령 등급:</strong>
    <span th:text="${drama.viewingRating}"></span> <!-- 여기에서 오타 수정 -->
</div>
<a th:href="@{/drama/dramaList}">드라마 목록</a>
</body>
</html>
