<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/dramaList.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <meta charset="UTF-8">
    <title>한국 TV 프로그램 인기 순위</title>
</head>
<body>
<div>
    <div class="swiper mySwiper" style="width: 57%; height: 100%;">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="display:flex; flex-direction : row; font-size: 18px; justify-content: center;
                align-items: center; white-space : nowrap;">
                <div class="list" style="display : flex; color : #FFF; margin-bottom : 20px; margin-top : 10px;"
                     th:each="drama : ${dramaList}">
                    <a th:href="@{/drama/{id}(id=${drama.id})}" style="margin-bottom : 7px;">
                        <img th:src="@{${drama.imageUrl}}" alt="Drama Image">
                        <div class="slide-caption" th:text="${drama.title}"></div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 7</div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="drama-list">
        <ul>
            <li th:each="drama : ${dramaList}">
                <a th:href="@{/drama/{id}(id=${drama.id})}">
                    <img th:src="@{${drama.imageUrl}}" alt="Drama Image">
                    <span th:text="${drama.title}"></span>
                </a>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
          pagination: {
            el: ".swiper-pagination",
            type: "fraction",
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
    </script>
</div>

</body>
</html>
