<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2}">
<head>
    <meta charset="UTF-8">
    <title>드라마 상세 정보</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/dramaDetail.css}">
<head>
    <meta charset="UTF-8">
    <title>드라마 상세 정보</title>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome-stars.css}">
    <script type="text/javascript" th:src="@{/jquery.barrating.min.js}"></script>
</head>

<body layout:fragment="content">
<h2 th:text="${drama.title}"></h2>
<img th:src="${'/imgs' +drama.imageUrl}" alt="Drama Image">
<div>
    <strong>장르:</strong>
    <span th:text="${drama.genre}"></span>
</div>
<div>
    <strong>감독:</strong>
    <span th:text="${drama.director}"></span>
</div>
<div>
    <strong>연령 등급:</strong>
    <span th:text="${drama.viewingRating}"></span> <!-- 여기에서 오타 수정 -->
</div>
<div>
    <strong>평균 평점:</strong>
    <i class="fa fa-star"></i> <!-- 별 아이콘 하나 -->
    <span th:text="${avgRating}"></span>
</div>
<h3>리뷰</h3>
<ul>
    <li th:each="review : ${reviews}">
        <p>
            <a th:href="@{'/reviews/detail/' + ${review.id}}">
                <span th:text="${review.title}"></span>
            </a>
            <th:block th:if="${review.rating != null}">
                <span>
                    <span th:text="'&#9733;'"></span>
                    <span th:text="${review.rating}"></span>
                </span>
            </th:block>
            <th:block th:if="${review.rating == null}">
                아직 평가 없음
            </th:block>
            </span>
        </p>
    </li>
</ul>
<div>
    <a th:href="@{/drama/{id}/review_list(id=${drama.id})}">더보기</a>
</div>
<a th:href="@{/reviews/create(dramaId=${drama.id})}">등록하기</a>
<script type="text/javascript">
    $(document).ready(function () {
        $('#rating').barrating({
            theme: 'fontawesome-stars',
            initialRating: 1,  // 초기 평점 설정 (선택한 평점이 기본으로 표시됨)
            showSelectedRating: true,  // 선택한 평점을 텍스트로 표시
        });
    });
</script>
<a th:href="@{/drama/dramaList}">드라마 목록</a>
</body>
</html>
