<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/dramaList.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <meta charset="UTF-8">
    <title>한국 TV 프로그램 인기 순위</title>
</head>
<body>
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper" >
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="/static/밤이 되었습니다.jpg" alt="Image 1">
            <div class="slide-caption">밤이 되었습니다</div>
        </div>
        <div class="swiper-slide">
            <img src="/static/소년시대.jpg" alt="Image 2">
            <div class="slide-caption">소년시대</div>
        </div>
        <div class="swiper-slide">
            <img src="/static/운수 오진 날.jpg" alt="Image 3">
            <div class="slide-caption">운수 오진 날</div>
        </div>
    </div>
    <!-- If we need pagination -->it
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
        <script>
            var swiper = new Swiper(".swiper-container", {
              pagination: {
                el: ".swiper-pagination",
              },
            });
        </script>
</body>
</html>
