<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/layout2.css}">
</head>
<body>
<div class="layout2-co">
    <div class="layout2">
        <div class="logo" style=" margin-left : 13%; margin-bottom : 15px; font-size : x-large;">
                <span style="color : #fbd7ed;">무비</span>
                <span style="color : #000000; ">MOVIE</span>
                <span style="color : #fbd7ed;">부비</span>
                <span style="color : #000000;">BOOK</span>
        </div>
        <div class="menu">
            <li style="display : flex;">
                <a class="category" style="margin-left : 30px;" href="#">영화</a>
                <a class="category" href="#">TV</a>
                <a class="category" href="#">책</a>
                <a class="category" href="#">웹툰</a>
            </li>
        </div>
        <div class="search-co">
            <div class="search-wrap" style="margin-top : -7px; width : 60%; position: relative;">
                <img src="/돋보기.jpg" style="width : 15px;  position: absolute; top: 21%; left: 15px;">
                <input class="search" id="search" type="search" name="" placeholder="콘텐츠,인물,컬렉션, 유저를 검색해보세요." value="">
<!--                <button type="submit" class="searchBtn" style="height : 39px; margin-left : 1px;" >검색</button>-->
            </div>
            <div>
                <img src="/conin.png" style="width : 15px;">
                <a style="color : #000000" href="">코인충전</a>
                <a style="color : #000000; margin-left : 2%;" href="">고객센터</a>
                <a style="color : #000000; margin-left : 2%;" href="">로그인</a>
                <a style="color : #000000; margin-left : 2%;" href="">회원가입</a>
            </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>

