<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layout2.css}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="layout2-co">
    <div class="layout2" style="display: flex; justify-content: center;">
        <a class="logo" style="font-size : x-large;" href="/">
            <span style="color : #fbd7ed;">무비</span>
            <span style="color : #000000; ">MOVIE</span>
            <span style="color : #fbd7ed;">부비</span>
            <span style="color : #000000;">BOOK</span>
        </a>
        <div class="menu1" style="display: flex; align-items: center;">
            <li style="display: flex;">
                <a class="category" style="margin-left : 30px;" href="/movie">영화</a>
                <a class="category" href="#">TV</a>
                <a class="category" href="/book/mainPage">책</a>
                <a class="category" href="/webtoon/list">웹툰</a>
            </li>
        </div>
        <div style="width: 15%"></div>
        <div class="search-co">
            <div class="search-wrap" style="width : 60%; position: relative;">
                <img src="/imgs/돋보기.jpg" style="width : 15px;  position: absolute; top: 21%; left: 15px;">
                <input class="search" id="search" type="search" name="" style="width: 100%; background: #dddedf;"
                       placeholder="콘텐츠,인물,컬렉션, 유저를 검색해보세요." value="">
            </div>
            <div style="display: flex; flex-direction: row; align-items: center; margin-left: 5%;">
                <img src="/conin.png" style="height : 20px;">
                <a style="color : #000000" href="">코인충전</a>
                <a style="color : #000000; margin-left : 2%;" href="">고객센터</a>
                <a style="color : #000000; margin-left : 2%;" href="">로그인</a>
                <a style="color : #000000; margin-left : 2%;" href="">회원가입</a>
            </div>
        </div>
    </div>
    <th:block layout:fragment="content"></th:block>
</div>

<footer class="footer p-10 bg-base-300 text-base-content" style="white-space : nowrap;">
    <nav style="margin-left : 350px;">
        <header class="footer-title">Services</header>
        <a class="link link-hover" href="/movie">Movie</a>
        <a class="link link-hover" href="/drama/dramaList">TV</a>
        <a class="link link-hover" href="/book/mainPage">Book</a>
        <a class="link link-hover" href="/webtoon/list">Webtoon</a>
    </nav>
    <nav>
        <header class="footer-title">Company</header>
        <a class="link link-hover">About us</a>
        <a class="link link-hover">Contact</a>
    </nav>
    <nav>
        <header class="footer-title">Social</header>
        <div class="grid grid-flow-col gap-4">
            <a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                    <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
                </svg>
            </a>
            <a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                    <a href="https://www.youtube.com/@user-jc7ek9jk3l">
                    <path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path>
                    </a>
                </svg>
            </a>
            <a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                    <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
                </svg>
            </a>
        </div>
    </nav>
</footer>
</body>
</html>

