<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/layout2.css}">
</head>
<body>
<div class="layout2-co">
    <div class="layout2" style="display: flex; justify-content: center;">
        <a class="logo" style="font-size : x-large;" href="/">
            <span style="color : #fbd7ed;">무비</span>
            <span style="color : #000000; ">MOVIE</span>
            <span style="color : #fbd7ed;">부비</span>
            <span style="color : #000000;">BOOK</span>
        </a>
        <div class="menu1" style="display: flex; align-items: center;">
            <li style="display: flex;">
                <a class="category" style="margin-left : 30px;" href="/movie">영화</a>
                <a class="category" href="#">TV</a>
                <a class="category" href="/book/mainPage">책</a>
                <a class="category" href="/webtoon/list">웹툰</a>
            </li>
        </div>
        <div style="width: 15%"></div>
        <div class="search-co">
            <div class="search-wrap" style="width : 60%; position: relative;">
                <img src="/돋보기.jpg" style="width : 15px;  position: absolute; top: 21%; left: 15px;">
                <input class="search" id="search" type="search" name="" style="width: 100%; background: #dddedf;"
                       placeholder="콘텐츠,인물,컬렉션, 유저를 검색해보세요." value="">
            </div>
            <div style="display: flex; flex-direction: row; align-items: center; margin-left: 5%;">
                <img src="/conin.png" style="height : 20px;">
                <a style="color : #000000" href="">코인충전</a>
                <a style="color : #000000; margin-left : 2%;" href="">고객센터</a>
                <a style="color : #000000; margin-left : 2%;" href="">로그인</a>
                <a style="color : #000000; margin-left : 2%;" href="">회원가입</a>
            </div>
        </div>
    </div>
    <th:block layout:fragment="content"></th:block>
</div>
</body>
</html>

