<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
<div class="layout-co">
    <div class="layout">
        <a class="logo" style="margin-top : 4%; font-size : xx-large;" href="/">
            <div class="logo-top">
                <span style="color : #fbd7ed;">무비</span>
                <span style="color : #FFFFFF; ">MOVIE</span>
            </div>
            <div class="logo-bottom">
                <span style="color : #FFFFFF;">BOOK</span>
                <span style="color : #fbd7ed; margin-left : 5px;">부비</span>
            </div>
        </a>
        <div class="login" style="margin: 10% 0% 0% 14%; font-size : 14px; width : 27%;">
            <img src="/conin.png" style="width : 15px; margin-left : 10%;">
            <a style="color : #FFF;" href="">코인충전</a>
            <a style="color : #FFF; margin-left : 2%;" href="">고객센터</a>
            <a style="color : #FFF; margin-left : 2%;" href="">로그인</a>
            <a style="color : #FFF; margin-left : 2%;" href="">회원가입</a>
        </div>
    </div>
    <div>
        <li style="display : flex;">
            <a class="category" href="/movie">영화</a>
            <span class="category-bar" >|</span>
            <a class="category" th:href="@{/drama/dramaList}">TV</a>
            <span class="category-bar">|</span>
            <a class="category" href="/book/mainPage">책</a>
            <span class="category-bar" >|</span>
            <a class="category" href="/webtoon/list">웹툰</a>
        </li>
    </div>
    <div class="slider-wrap">
        <div class="slider-img">
            <div class="slider-inner">
                <div class="slider s1"><img src="/imgs/노량2.jpg" alt="이미지1"></div>
                <div class="slider s2"><img src="/imgs/소년시대.jpg" alt="이미지2"></div>
                <div class="slider s3"><img src="/imgs/노량2.jpg" alt="이미지3"></div>
            </div>
        </div>
        <div class="slider-btn" style="white-space : nowrap;">
            <a href="#" class="prev" title="이전이미지">prev</a>
            <a href="#" class="next" title="다음이미지">next</a>
        </div>
    </div>
    <div class="swiper mySwiper" style="width: 57%; height: 100%;">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="display:flex; flex-direction : column; font-size: 18px; justify-content: center;
                align-items: center; white-space : nowrap;">
                <div style="width : 100%; text-align : left;">
                    <span style="color : white; font-size : 20px; font-weight : bold; margin-left : 5%;">영화 TOP 5</span>
                </div>
                <div class="list" style="display : flex; color : #FFF; margin-bottom : 20px; margin-top : 10px;">
                    <div class="top-list" style="width : 184px; margin-right : 20px; margin-left : 20px;">
                        <div class="item" style="text-align : center;">
                            <div class="top-info"
                                 style="border-radius: 4px; overflow : hidden; position : relative; height : 262px;">
                                <div class="top-img" style="display : block; max-height : 262px;">
                                    <img src="/imgs/소년시대.jpg" alt="이미지1" style="width: 100%; height: auto;">
                                </div>
                            </div>
                            <div class="btm-info"
                                 style="margin-top : 20px; display : flex; flex-direction : column; align-items : center;">
                                <div style="display : inline-flex;">
                                    <div style="border-radius: 3px; background : #E9B630; width : 22px; height : 22px; margin-right : 5px;">
                                        <span style="font-weight : bold;"> 12 </span>
                                    </div>
                                    <span style="font-size : 13px;"> 소년시대 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-list" style="width : 184px; margin-right : 20px;">
                        <div class="item" style="text-align : center;">
                            <div class="top-info"
                                 style="border-radius: 4px; overflow : hidden; position : relative; height : 262px;">
                                <div class="top-img" style="display : block; max-height : 262px;">
                                    <img src="/imgs/트롤.jpg" alt="이미지1" style="width: 100%; height: auto;">
                                </div>
                            </div>
                            <div class="btm-info"
                                 style="margin-top : 20px; display : flex; flex-direction : column; align-items : center;">
                                <div style="display : inline-flex;">
                                    <div style="border-radius: 3px; background : #E9B630; width : 22px; height : 22px; margin-right : 5px;">
                                        <span style="font-weight : bold;"> 7 </span>
                                    </div>
                                    <span style="font-size : 13px;"> 트롤 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-list" style="width : 184px; margin-right : 20px;">
                        <div class="item" style="text-align : center;">
                            <div class="top-info"
                                 style="border-radius: 4px; overflow : hidden; position : relative; height : 262px;">
                                <div class="top-img" style="display : block; max-height : 262px;">
                                    <img src="/imgs/노량.jpg" alt="이미지1" style="width: 100%; height: auto;">
                                </div>
                            </div>
                            <div class="btm-info"
                                 style="margin-top : 20px; display : flex; flex-direction : column; align-items : center;">
                                <div style="display : inline-flex;">
                                    <div style="border-radius: 3px; background : #E9B630; width : 22px; height : 22px; margin-right : 5px;">
                                        <span style="font-weight : bold;"> 12 </span>
                                    </div>
                                    <span style="font-size : 13px;"> 노량 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-list" style="width : 184px; margin-right : 20px;">
                        <div class="item" style="text-align : center;">
                            <div class="top-info"
                                 style="border-radius: 4px; overflow : hidden; position : relative; height : 262px;">
                                <div class="top-img" style="display : block; max-height : 262px;">
                                    <img src="/imgs/그시절,우리가좋아했던소녀.jpg" alt="이미지1" style="width: 100%; height: auto;">
                                </div>
                            </div>
                            <div class="btm-info"
                                 style="margin-top : 20px; display : flex; flex-direction : column; align-items : center;">
                                <div style="display : inline-flex;">
                                    <div style="border-radius: 3px; background : #E9B630; width : 22px; height : 22px; margin-right : 5px;">
                                        <span style="font-weight : bold;"> 12 </span>
                                    </div>
                                    <span style="font-size : 13px;"> 그시절,우리가좋아했던소녀 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-list"
                         style="width : 184px; margin-right : 20px; white-space : nowrap; text-overflow : ellipsis;  -webkit-line-clamp: 2;">
                        <div class="item" style="text-align : center;">
                            <div class="top-info"
                                 style="border-radius: 4px; overflow : hidden; position : relative; height : 262px;">
                                <div class="top-img" style="display : block; max-height : 262px;">
                                    <img src="/imgs/밤이되었습니다.jpg" alt="이미지1" style="width: 100%; height: auto;">
                                </div>
                            </div>
                            <div class="btm-info"
                                 style="margin-top : 20px; display : flex; flex-direction : column; align-items : center;">
                                <div style="display : inline-flex;">
                                    <div style="border-radius: 3px; background : #E9B630; width : 22px; height : 22px; margin-right : 5px;">
                                        <span style="font-weight : bold;"> 12 </span>
                                    </div>
                                    <span style="font-size : 13px;"> 밤이 되었습니다. </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 7</div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>

    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
        type: "fraction",
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

    const sliderWrap = document.querySelector(".slider-wrap");
    const sliderImg = sliderWrap.querySelector(".slider-img");             // 보여지는 영역
    const sliderInner = sliderWrap.querySelector(".slider-inner");         // 움직이는 영역
    const slider = sliderWrap.querySelectorAll(".slider");                 // 개별 이미지
    const sliderBtn = sliderWrap.querySelectorAll(".slider-btn a");        // 버튼

    let currentIndex = 0;                                                   // 현재 보이는 이미지
    let sliderCount = slider.length;                                        // 이미지 갯수
    let sliderInterval = 2000;                                              // 이미지 변경 간격 시간
    let sliderWidth = slider[0].clientWidth;                                // 이미지 가로값 구하기
    let dotIndex = "";

    function gotoSlider(num){
        sliderInner.style.transition = "all 400ms";
        sliderInner.style.transform = "translateX(" + -sliderWidth * num + "px)";
        currentIndex = num;
    }

    sliderBtn.forEach((btn, index) => {
        btn.addEventListener("click", () => {
            let prevIndex = (currentIndex + (sliderCount-1)) % sliderCount;
            let nextIndex = (currentIndex+1) % sliderCount;

            if(btn.classList.contains("prev")){
                gotoSlider(prevIndex);
            } else {
                gotoSlider(nextIndex);
            }
        });
    });

     function showSlides() {
        setTimeout(() => {
            next();
            showSlides();
        }, 5000);
    }

    function next() {
        let nextIndex = (currentIndex + 1) % sliderCount;
        gotoSlider(nextIndex);
    }

    showSlides();

</script>
</body>
</html>

