<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout2}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/Webtoon/webtoon.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
<div layout:fragment="content" style="width : 100%; height : 30%;">
    <div class="swiper-1">
        <div style="width : 1340px; margin : auto;">
            <div class="swiper-top" style="display : flex; white-space : nowrap;">
                <div style="text-align : left; margin-left : 8%;">
                    <span style="color : #000000; font-size : 20px; font-weight : bold; margin-bottom : 3px;">월요일</span>
                </div>
            </div>
            <div class="swiper mySwiper" style="width : 85%; margin-top : 10px;">
                <div style="margin-left : 85%; margin-top : -3px; display : flex;">
                    <div class="swiper-pagination swiper-pagination1"
                         style="position : relative; width : 55%; margin-top : 5px;"></div>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide"
                         style="display:flex; font-size: 18px; align-items: center; height : 100%;">
                        <!--                        <div th:each="webtoonDTO : ${webtoonDTOList}" th:if="${movieDaily.rank <= 5}">-->
                        <!--                            <a th:href="@{'/webtoon/detail/' + ${webtoonDTO.getWebtoonId()}}">-->
                        <div class="dailyMovie" style="display : grid;" th:each="webtoonDTO : ${webtoonDTOList.subList(0, 5)}">
                            <div class="img" style="padding : 6px;">
                                <span class="fanCount" th:text="${webtoonDTO['fanCount']}"></span>
                                <img th:src="${webtoonDTO.img}"
                                     th:if="${not #strings.isEmpty(webtoonDTO.img)}" style="width : 210px;">
                                <img src="/noimg.jpg" th:if="${#strings.isEmpty(webtoonDTO.img)}"
                                     style="width : 213px; height : 303px;">
                            </div>
                            <div class="short-info" style="display : inline-grid; margin-left : 5px;">
                                <span th:text="${#strings.length(webtoonDTO.title) > 8 ? #strings.substring(webtoonDTO.title, 0, 8) + '..' : webtoonDTO.title}"
                                      style="font-size : 17px; margin-bottom : 5px;"></span>
                                <div class="short-kind">
                                    <span style="color : #868e96; font-size : 15px;">글,그림 :</span>
                                    <span th:text="${#strings.length(webtoonDTO.author) > 7 ? #strings.substring(webtoonDTO.author, 0, 7) + '..' : webtoonDTO.author}"
                                          style="font-size : 17px; margin-bottom : 5px;"></span>
                                </div>
                                <div class="short-kind">
                                    <span style="color : #868e96; font-size : 15px;">연재일 :</span>
                                    <span th:text="${webtoonDTO.getUpdateDays()}"
                                          style="font-size : 17px; margin-bottom : 5px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide"
                         style="display:flex; font-size: 18px; align-items: center; height : 100%;">
                        <div class="dailyMovie" style="display : grid;" th:each="webtoonDTO : ${webtoonDTOList.subList(webtoonDTOList.size() - 5, webtoonDTOList.size())}">
                            <div class="img" style="padding : 6px;">
                                <span class="fanCount" th:text="${webtoonDTO['fanCount']}"></span>
                                <img th:src="${webtoonDTO.img}"
                                     th:if="${not #strings.isEmpty(webtoonDTO.img)}" style="width : 210px;">
                                <img src="/noimg.jpg" th:if="${#strings.isEmpty(webtoonDTO.img)}"
                                     style="width : 213px; height : 303px;">
                            </div>
                            <div class="short-info" style="display : inline-grid; margin-left : 5px;">
                                <span th:text="${#strings.length(webtoonDTO.title) > 8 ? #strings.substring(webtoonDTO.title, 0, 8) + '..' : webtoonDTO.title}"
                                      style="font-size : 17px; margin-bottom : 5px;"></span>
                                <div class="short-kind">
                                    <span style="color : #868e96; font-size : 15px;">글,그림 :</span>
                                    <span th:text="${#strings.length(webtoonDTO.author) > 7 ? #strings.substring(webtoonDTO.author, 0, 7) + '..' : webtoonDTO.author}"
                                          style="font-size : 17px; margin-bottom : 5px;"></span>
                                </div>
                                <div class="short-kind">
                                    <span style="color : #868e96; font-size : 15px;">연재일 :</span>
                                    <span th:text="${webtoonDTO.getUpdateDays()}"
                                          style="font-size : 17px; margin-bottom : 5px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev swiper-button-prev1" style="left : 15%;  top : 30%; color : green;"></div>
        <div class="swiper-button-next swiper-button-next1" style="right : 15%; top : 30%; color : green;"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper1 = new Swiper(".mySwiper", {
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination1",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next1",
                prevEl: ".swiper-button-prev1",
            },
        });
    </script>
</div>
</body>

</html>
